section {
    border: 20px solid #bdc3c7;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  
  .date {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #5d9ee9ce;
  }
  h2 {
    font-size: 2em;
    font-weight: bold;
    color: #374c60ea;
  }
  .quote {
    border-left: #bdc3c7 5px solid;
    padding-left: 8px;
  }
  .post {
    margin-bottom: 30px;
  }
