.btn-outline-primary {
    color: rgb(255, 118, 118)own;
    background-color: #fff;
    border-color: rgb(255, 118, 118);
    size: 5px;
  }
  .project{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin: 1.66%;
    border-bottom: 2px solid #0b3a80;
    width: 30%;
    padding-bottom: 30px;
  }
